/* line 1, ../sass/scss/comparator.scss */
table#product_comparison {
  width: 100%;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 6, ../sass/scss/comparator.scss */
#product_comparison tr.comparison_header {
  font-weight: bold;
}

/* line 7, ../sass/scss/comparator.scss */
#product_comparison td {
  padding: 6px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  vertical-align: top;
}

/* line 14, ../sass/scss/comparator.scss */
#product_comparison td.td_empty {
  border: none;
  background: #fff;
}

/* line 19, ../sass/scss/comparator.scss */
#product_comparison tr.comparison_header,
#product_comparison td.comparison_feature_even {
  background: #f8f8f8;
}

/* line 21, ../sass/scss/comparator.scss */
#product_comparison .product_image {
  display: block;
  text-align: center;
}

/* line 25, ../sass/scss/comparator.scss */
#product_comparison .product_image img {
  border: 1px solid #ccc;
}

/* line 26, ../sass/scss/comparator.scss */
#product_comparison .s_title_block {
  margin-bottom: 10px;
  font-size: 12px;
  color: #000;
  font-weight: bold;
  padding-bottom: 0;
}

/* line 33, ../sass/scss/comparator.scss */
#product_comparison .product_desc {
  padding-bottom: 5px;
  height: 40px;
  color: #666666;
}

/* line 38, ../sass/scss/comparator.scss */
#product_comparison .lnk_more {
  display: block;
  margin-bottom: 10px;
  padding-left: 10px;
  color: #0088cc;
  background: url(../img/arrow_right_1.png) no-repeat 0 4px transparent;
}

/* line 46, ../sass/scss/comparator.scss */
.prices_container {
  height: 50px;
}

/* line 47, ../sass/scss/comparator.scss */
.price_container {
  padding-bottom: 10px;
}

/* line 48, ../sass/scss/comparator.scss */
#product_comparison .price {
  font-weight: bold;
  font-size: 14px;
  color: #990000;
}

/* line 53, ../sass/scss/comparator.scss */
.discount {
  display: inline-block;
  padding: 1px 5px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: #9b0000;
}

/* line 63, ../sass/scss/comparator.scss */
.comparison_availability_statut {
  display: none;
}

/* line 65, ../sass/scss/comparator.scss */
#product_comparison .cmp_remove {
  display: block;
  margin-bottom: 10px;
  padding-right: 16px;
  font-weight: bold;
  text-align: right;
  background: url(../img/icon/delete.gif) no-repeat 100% 1px transparent;
}

/* line 74, ../sass/scss/comparator.scss */
.ajax_add_to_cart_button {
  margin-left: 9px;
  padding-left: 20px !important;
}

/* line 78, ../sass/scss/comparator.scss */
.ajax_add_to_cart_button span {
  display: block;
  position: absolute;
  top: -1px;
  height: 26px;
  left: -12px;
  width: 26px;
  background: url(../img/icon/pict_add_cart.png) no-repeat 0 0 transparent;
}
