/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2014, 11:41:10 PM
    Author     : patrick
*/
/*
212,230,247
255,194,158
174,225,212
*/
#my-account #left_column {
  display: none; }

#my-account #center_column {
  width: 757px; }

#my-account #center_column h1 {
  margin-bottom: 20px; }

#my-account #center_column .title_block {
  font-weight: normal;
  font-size: 12px;
  color: #ddd; }

#my-account .myaccount_lnk_list {
  list-style-type: none;
  background-color: #ddd;
  padding: 20px;
  border-radius: 15px; }

#my-account .myaccount_lnk_list li {
  font-size: 13px;
  line-height: 36px;
  color: #ddd; }

#my-account .myaccount_lnk_list li a {
  color: #4e0b0b; }

#my-account .myaccount_lnk_list img.icon,
#my-account p img.icon {
  position: relative;
  top: 6px;
  left: 0; }
