/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2014, 11:41:10 PM
    Author     : patrick
*/
/*
212,230,247
255,194,158
174,225,212
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/my-account\.scss}line{font-family:\000033}}
#my-account #left_column {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/my-account\.scss}line{font-family:\000034}}
#my-account #center_column {
  width: 757px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/my-account\.scss}line{font-family:\000035}}
#my-account #center_column h1 {
  margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/my-account\.scss}line{font-family:\000037}}
#my-account #center_column .title_block {
  font-weight: normal;
  font-size: 12px;
  color: #ddd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/my-account\.scss}line{font-family:\0000313}}
#my-account .myaccount_lnk_list {
  list-style-type: none;
  background-color: #ddd;
  padding: 20px;
  border-radius: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/my-account\.scss}line{font-family:\0000321}}
#my-account .myaccount_lnk_list li {
  font-size: 13px;
  line-height: 36px;
  color: #ddd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/my-account\.scss}line{font-family:\0000326}}
#my-account .myaccount_lnk_list li a {
  color: #4e0b0b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/my-account\.scss}line{font-family:\0000331}}
#my-account .myaccount_lnk_list img.icon,
#my-account p img.icon {
  position: relative;
  top: 6px;
  left: 0; }
