/*TMP*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\000033}}
#scenes .cluetip span {
  background: transparent url(../img/icon/cible.gif) no-repeat scroll center center;
  color: black;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  height: 23px;
  padding-top: 5px;
  text-align: center;
  width: 23px; }

/*TMP*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\0000315}}
.thumbs_banner {
  margin: 10px auto;
  padding: 2px 0;
  height: 60px !important;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\0000324}}
.thumbs_banner .space-keeper {
  width: 21px;
  float: left;
  display: block;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\0000331}}
.thumbs_banner .space-keeper a.prev {
  display: none;
  width: 21px;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  background: url(../img/icon/serial_scroll_left.gif) no-repeat 0 0 #eeeeee; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\0000339}}
#scenes_list {
  overflow: hidden;
  float: left;
  width: 478px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\0000344}}
#scenes_list ul {
  list-style-type: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\0000348}}
#scenes_list li {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\0000352}}
#scenes_list a {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\0000356}}
.thumbs_banner a.next {
  float: left;
  display: block;
  width: 21px;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  background: url(../img/icon/serial_scroll_right.gif) no-repeat 0 0 #dddddd; }

/* Cluetip design ****************************************************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\0000367}}
#scenes .screen_scene {
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\0000371}}
#scenes a.cluetip {
  display: block;
  position: absolute;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\0000377}}
.cluetip-product_scene {
  padding: 10px;
  border: 7px solid #999;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: left;
  background: #fff;
  opacity: 0.95; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\0000388}}
.cluetip-product_scene #cluetip-close {
  text-align: right;
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\0000393}}
.cluetip-product_scene img {
  float: left;
  margin-right: 10px;
  border: 1px solid #cccccc; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\0000398}}
.cluetip-product_scene .title_block {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 !important;
  font-size: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\00003105}}
.cluetip-product_scene .clear {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\00003106}}
.cluetip-product_scene .clear a {
  /*float:left;*/
  margin-top: 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\00003111}}
.cluetip-product_scene p.description {
  float: left;
  padding: 0;
  width: 140px;
  color: #666666; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\00003118}}
.cluetip-product_scene div.prices {
  float: right;
  position: relative;
  width: 65px;
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\00003124}}
.cluetip-product_scene .new {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 1px 5px;
  font-weight: bold;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  background: none repeat scroll 0 0 #9b0000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\00003136}}
.cluetip-product_scene .price {
  padding-top: 18px;
  font-weight: bold;
  font-size: 13px;
  color: #990000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/patrick\/wd1tera\/projecten\/websites\/sites\/live\/pameairways\/domains\/pameairways\.nl\/public_html\/themes\/pame\/sass\/scss\/scenes\.scss}line{font-family:\00003142}}
.cluetip-product_scene .on_sale, .cluetip-product_scene .discount {
  display: block;
  font-weight: bold;
  color: #DA0F00;
  text-transform: uppercase; }

/* END Cluetip design */
