/* line 1, ../sass/scss/stores.scss */
#stores #center_colum label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  text-align: right;
}

/* line 7, ../sass/scss/stores.scss */
input#addressInput {
  padding: 2px 5px;
  width: 300px;
  border: 1px solid #cccccc;
}

/* line 12, ../sass/scss/stores.scss */
select#radiusSelect {
  margin: 0 5px 0 0;
  width: 50px;
  border: 1px solid #cccccc;
}

/* line 18, ../sass/scss/stores.scss */
#stores_loader {
  display: none;
  margin-left: 5px;
}

/* line 23, ../sass/scss/stores.scss */
#locationSelect {
  visibility: hidden;
  width: 400px;
  border: 1px solid #cccccc;
}

/* line 29, ../sass/scss/stores.scss */
#stores #center_column p .button {
  float: right;
}

/* line 31, ../sass/scss/stores.scss */
#map {
  margin: 15px auto;
  height: 375px;
  width: 535px;
}

/* line 37, ../sass/scss/stores.scss */
#stores-table {
  border-bottom: 1px solid #999;
}

/* line 38, ../sass/scss/stores.scss */
#stores-table tr:nth-child(odd) {
  background-color: #f3f3f3;
}

/* line 39, ../sass/scss/stores.scss */
#stores-table td {
  border-top: 1px solid #ccc;
  border-bottom: none;
}

/* line 43, ../sass/scss/stores.scss */
#stores-table td.distance {
  border-right: 1px solid #999;
}
