/* ************************************************************************************************
                PAGE ORDER-OPC
************************************************************************************************ */
#order-opc #left_column {display:none}
#order-opc #center_column{width:757px}


#order-opc h2 {}
#order-opc h2 span {
    display:inline-block;
    padding:5px 7px;
    color:#fff;
    background:#333;
}
#order-opc #login_form {
    color:#4e0b0b;
}
#order-opc #login_form fieldset {
    background: none repeat scroll 0 0 #FFFFE0;
    border: 1px solid #E6DB55;
    font-size: 13px;
    margin: 0 0 10px;
    padding: 10px;
    color:#4e0b0b;
}
#order-opc #login_form fieldset p {padding:0;color:#4e0b0b;}
#order-opc #login_form fieldset p a {padding:0;color:#4e0b0b;}

#order-opc #new_account_form p.submit {
    margin-right: 120px;
    text-align:right;
    color:#4e0b0b;
}
#order-opc #new_account_form p.opc-required {margin-left:20px;color:#4e0b0b;}

#order-opc .addresses {margin-bottom:20px}

#order-opc #opc_delivery_methods h3 {margin-top:20px;}
#order-opc #opc_delivery_methods textarea {
    height:60px;
    width:723px;
    border:1px solid #ccc
}
#order-opc #opc_delivery_methods #message {
    width: 757px;
}
#order-opc #opc_payment_methods {margin-bottom:20px}
#order-opc #opc_payment_methods #opc_payment_methods-content p{margin:0}
.delivery_option_carrier td {width:200px}
.delivery_option_carrier td + td {width:280px;}
.delivery_option_carrier td + td + td {width:200px}
.delivery_option_carrier {
    margin: 5px 0 0 45px;
    width: 670px;
    display: none;
}
.delivery_option_carrier tr td {
    padding: 5px;
}
.delivery_option_carrier.selected {
    display: table;
}
.delivery_option_carrier.not-displayable {
    display: none;
}
.delivery_option_title {
    font-weight: bold;
}